textview.markdown-source, textview.markdown-source text,
textview.preview, textview.preview text,
textview.block-source, textview.block-source text {
  background: #fdf6e3;
  color: #586e75;
  caret-color: #268bd2;
}
